body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: relative;
}

.table {
  margin: 20px auto;
}

.table-blur {
  background: #f5ffff;
  border-collapse: collapse;
  text-align: left;
}

.table-blur tr:nth-child(odd) {
  background: #ebf3f9;
}

.table-blur__head-cell{
  cursor: pointer;
  background: #58aef3;
  min-width: 125px;
}

.table-blur__head-cell:after{
  content: '';
  position: absolute;
  right: 10px;
  top: 14px;
  border: 10px solid transparent;
  border-top: 10px solid black;
}

.table-blur__head-cell_sorted_1 {
  background: green;
}

.table-blur__head-cell_sorted_2 {
  background: green;
}

.table-blur__head-cell_sorted_1:after {
  transform: rotate(180deg);
  top: 4px;
}

.table-blur__head-cell_sorted_2:after {
  transform: rotate(360deg);
}

.table-blur td {
  border: 1px solid #e3eef7;
  padding: 10px 15px;
  position: relative;
  transition: all 0.5s ease;
}

.table-blur tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #a09f9d;
}

.table-blur tbody:hover tr:hover td {
  color: #444444;
  text-shadow: none;
}

//стили лоадера

.loader {
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -40px;
  margin-top: -40px;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: blue;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.choose-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-block__button {
  width: 10%;
  height: 5%;
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #000;
  background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0,0,0,.3) 0 2px 5px;
} 
.choose-block__button:active {
  top: 1px;
  box-shadow: none;
}
.choose-block__button:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

.pagination-block {
  position: absolute;
  right: 10px;
  top: 50px;
  display: flex;
  align-items: center;
}

.pagination-block__button {
  cursor: pointer;
  border: 20px solid transparent;
  border-right: 20px solid #58aef3;
  margin: 0 10px;
}

.pagination-block__button_inactive {
  border-right: 20px solid grey;
  cursor: default;
}

.pagination-block__button_reverse {
  transform: rotate(180deg);
}

.filter-block {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.filter-block__input {
  min-width: 125px;
  padding: 10px 15px;
  border: 1px solid black;
  border-right: none;
}

.filter-block__button {
  cursor: pointer;
  min-width: 125px;
  background-color: #58aef3;
  padding: 10px 15px;
  border: 1px solid black;
}

.filter-block__button_inactive {
  background-color: gray;
}

.add-row-block {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.add-row-block__input {
  min-width: 125px;
  padding: 10px 15px;
  border: 1px solid black;
  border-right: none;
}

.add-row-block__button {
  cursor: pointer;
  min-width: 125px;
  background-color: #58aef3;
  padding: 10px 15px;
  border: 1px solid black;
}

.add-row-block__button_inactive {
  background-color: gray;
}